<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Data.Mining" version="1.0.3" targetFramework="net46" />
  <package id="Data.Warehouse" version="1.0.8" targetFramework="net46" />
  <package id="Data.Web" version="1.0.3" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
</packages>